@model IEnumerable<WeatherForecastApp.Models.CityByDefault>

@{
    ViewBag.Title = "List";
}

<h2>Cities by default</h2>

<p>
    @Html.ActionLink("Add city", "Add", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class ="btn btn-default"})
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
