@model WeatherForecastApp.ViewModels.CityViewModel

@{
    ViewBag.Title = "City";
}

<h2>City</h2>

@using (Html.BeginForm("Index", "Home"))
{
    @Html.AntiForgeryToken()


    <div class="form-group">
        @Html.LabelFor(m => m.CityByDefaultId)
        @Html.DropDownListFor(m => m.CityByDefaultId, new SelectList(ViewBag.Default, "Id", "Name"), "",
                            htmlAttributes: new { type = "date", @class = "form-control", id = "enumId", required = "true" })
        @Html.ValidationMessageFor(m => m.CityByDefaultId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DaysId)
        @Html.DropDownListFor(m => m.DaysId, new SelectList(ViewBag.Days, "Id", "Name"), "",
                            htmlAttributes: new { type = "date", @class = "form-control", required = "true" })
        @Html.ValidationMessageFor(m => m.DaysId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CityName)
        @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control", id = "editorId", disabled = "disabled" } })
        @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
    </div>

    <div id="checkId" class="checkbox">
        <label>
            <input type="checkbox"> Choose my city
        </label>
    </div>

    <button class="btn btn-primary" type="submit">Find</button>
}

@section scripts
{
    <script src="~/Scripts/city.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
}

